<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
         IgnorableNamespaces="uap rescap uap5">

    <Identity Name="e6247c7c-041a-46f0-892e-d0840d1869d6" Publisher="CN=rosslight GmbH, O=rosslight GmbH, L=Rostock, S=Mecklenburg-Vorpommern, C=DE" Version="0.0.0.0"/>

    <Properties>
        <DisplayName>AvaloniaExampleApp</DisplayName>
        <PublisherDisplayName>rosslight GmbH</PublisherDisplayName>
        <Logo>Images\StoreLogo.png</Logo>
    </Properties>

    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0"/>
        <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0"/>
    </Dependencies>

    <Resources>
        <Resource Language="x-generate"/>
    </Resources>

    <Applications>
        <Application Id="AvaloniaExampleApp" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
            <uap:VisualElements DisplayName="AvaloniaExampleApp" Description="Example App to base new projects on" BackgroundColor="transparent" Square150x150Logo="Images\Square150x150Logo.png" Square44x44Logo="Images\Square44x44Logo.png">
                <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
                <uap:SplashScreen Image="Images\SplashScreen.png"/>
                <uap:LockScreen BadgeLogo="Images\BadgeLogo.png" Notification="badge"/>
                <uap:InitialRotationPreference>
                    <uap:Rotation Preference="landscape"/>
                </uap:InitialRotationPreference>
            </uap:VisualElements>
			<Extensions>
                <uap5:Extension Category="windows.appExecutionAlias" EntryPoint="Windows.FullTrustApplication">
                    <uap5:AppExecutionAlias>
                        <uap5:ExecutionAlias Alias="AvaloniaExampleApp.exe" />
                    </uap5:AppExecutionAlias>
                </uap5:Extension>
			</Extensions>
        </Application>
    </Applications>

    <Capabilities>
        <rescap:Capability Name="runFullTrust"/>
    </Capabilities>
</Package>
