<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Target Name="SetSourceRevisionId" BeforeTargets="InitializeSourceControlInformation">
    <Exec 
      Command="git describe --long --always --exclude=* --abbrev=8"
      ConsoleToMSBuild="True"
      ContinueOnError="True"
      >
      <Output PropertyName="SourceRevisionId" TaskParameter="ConsoleOutput"/>
      <Output PropertyName="GitExitCode" TaskParameter="ExitCode"/>
    </Exec>
    <PropertyGroup>
      <SourceRevisionId Condition="'$(GitExitCode)' != '0' or '$(SourceRevisionId)' == ''">unknown</SourceRevisionId>
    </PropertyGroup>
  </Target>
</Project>
